<div class="sfContentBlock footertext">
    <p>
        <span style="color: #aaaaaa;">
            All content &copy; Copyright 2011 RealEstate.dk All rights reserved.
        </span>
    </p>
    <p>
        <span style="color: #aaaaaa;">
            Real Estate, incorporated and registered in England and Wales. 
        </span>
    </p>
    <p>
        <span style="color: #aaaaaa;">
            Registered office:<br />
            20 Grosvenor Hill, <br />
            Berkeley Square, <br />
            London W1K 3HQ.
        </span>
    </p>
    <p>
        <span style="color: #aaaaaa;">
            Registered number: 2122174. <br />
        </span>
    </p>
    <p>
        <span style="color: #aaaaaa;">
            Real Estate is a holding company, some of whose subsidiaries are authorised and regulated by the Financial Services Authority (FSA)
        </span>
    </p>
</div>