<div class="sf_cols">
    <div class="sf_colsOut sf_1col_1_100">
        <div id="Content_T83798137009_Col00" class="sf_colsIn sf_1col_1in_100">
            <h1 class="section-title">
                For rent
            </h1>
            <div class="sorting">
                <div class="left">
                    <strong>Sort by</strong>
                    <a id="Content_C004_realEstateFrontendList_ctl00_lbnSortBy_Price" class="arrow-up current" href="javascript:__doPostBack('ctl00$Content$C004$realEstateFrontendList$ctl00$lbnSortBy_Price','')">
                        <span>Price</span>
                    </a>
                </div>
                <div class="right">
                    <a id="Content_C004_realEstateFrontendList_ctl00_lbnThumbnailView" class="thumbnails" href="javascript:__doPostBack('ctl00$Content$C004$realEstateFrontendList$ctl00$lbnThumbnailView','')">
                        <span>Thumbnails</span>
                    </a>
                    <a id="Content_C004_realEstateFrontendList_ctl00_lbnListView" class="list current" href="javascript:__doPostBack('ctl00$Content$C004$realEstateFrontendList$ctl00$lbnListView','')">
                        <span>List</span>
                    </a>
                </div>
                <div class="center">
                    <strong>Show on page</strong>
                    <a id="Content_C004_realEstateFrontendList_ctl00_lbnItemPerPage_Nine" class="current" href="javascript:__doPostBack('ctl00$Content$C004$realEstateFrontendList$ctl00$lbnItemPerPage_Nine','')">
                        <span>9 items</span>
                    </a>
                    <a id="Content_C004_realEstateFrontendList_ctl00_lbnItemPerPage_Eighteen" href="javascript:__doPostBack('ctl00$Content$C004$realEstateFrontendList$ctl00$lbnItemPerPage_Eighteen','')">
                        <span>18 items</span>
                    </a>
                    <a id="Content_C004_realEstateFrontendList_ctl00_lbnItemPerPage_Twentyseven" href="javascript:__doPostBack('ctl00$Content$C004$realEstateFrontendList$ctl00$lbnItemPerPage_Twentyseven','')">
                        <span>27 items</span>
                    </a>
                </div>
            </div>
            <div class="for-rent">
                <div class="row">
                    <a id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_DetailsViewHyperLink1" href="for-rent/flat-456">
                        <img id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_Photo" src="/images/pictures/for-rent-2.jpg">
                    </a>
                    <div>
                        <h2>
                            <a id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_DetailsViewHyperLink2" href="for-rent/flat-456">
                                Flat 456
                            </a>
                        </h2>
                        <p class="price">
                            1,400
                        </p>
                        <ul>
                            <li>Fitness</li>
                            <li>Garden</li>
                            <li>Parking</li>
                            <li>Shops</li>
                        </ul>
                        <input id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_FeaturesList_ClientState" name="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_FeaturesList_ClientState" type="hidden" autocomplete="off" />
                        <span id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_FeaturesList" style="display:none;">
                        </span>
                        <p>
                            Unfurnished living place located on a quite street in prestigious diplomatic quarter. Consists of living room, dining area, kitchen, two bedrooms, full bathroom, toilet, walk-in closet, terrace. 
                        </p>
                        <a id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_DetailsViewHyperLink3" title="Flat 456" href="for-rent/flat-456">
                            More details and photos
                        </a>
                    </div>
                </div>
                <div class="row">
                    <a id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_DetailsViewHyperLink1" href="for-rent/house-123">
                        <img id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_Photo" src="/images/pictures/for-rent-1.jpg" />
                    </a>
                    <div>
                        <h2>
                            <a id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_DetailsViewHyperLink2" href="for-rent/house-123">
                                House 123
                            </a>
                        </h2>
                        <p class="price">
                            1,500
                        </p>
                        <ul>
                            <li>Fitness</li>
                            <li>Garden</li>
                            <li>Parking</li>
                            <li>Shops</li>
                            <li>Swimming pool</li>
                        </ul>
                        <input id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_FeaturesList_ClientState" name="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_FeaturesList_ClientState" type="hidden" autocomplete="off" />
                        <span id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_FeaturesList" style="display:none;">
                        </span>
                        <p>
                            The unique house, situated at the foot of the mountain. The house is located at a first class area and it is only 20 min. drive from downtown. The villa is surrounded by a marvelous park with various kinds of trees in fabulous over three thousand sq.m. garden.
                        </p>
                        <a id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_DetailsViewHyperLink3" title="House 123" href="for-rent/house-123">
                            More details and photos
                        </a>
                    </div>
                </div>
            </div>
            <input id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ClientState" name="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow_ClientState" type="hidden" autocomplete="off" />
            <span id="ctl00_Content_C004_realEstateFrontendList_ctl00_ItemsList_Flow" style="display:none;">
            </span>
            <span></span>
        </div>
    </div>
</div>