<div class="sf_cols content self-clear">
    <div style="width: 100%;" class="sf_colsOut sf_1col_1_100">
        <div id="Content_T83798137001_Col00" class="sf_colsIn sf_1col_1in_100">






<h1 class="section-title">For sale</h1>

<div class="sorting">
	<div class="left">
		<strong>Sort by</strong>
		<a id="Content_C000_realEstateFrontendList_ctl00_lbnSortBy_Price" class="arrow-up current" href="javascript:__doPostBack('ctl00$Content$C000$realEstateFrontendList$ctl00$lbnSortBy_Price','')"><span>Price</span></a>
		
	</div>
	<div class="right">
		<a id="Content_C000_realEstateFrontendList_ctl00_lbnThumbnailView" class="thumbnails" href="javascript:__doPostBack('ctl00$Content$C000$realEstateFrontendList$ctl00$lbnThumbnailView','')"><span>Thumbnails</span></a>
		<a id="Content_C000_realEstateFrontendList_ctl00_lbnListView" class="list current" href="javascript:__doPostBack('ctl00$Content$C000$realEstateFrontendList$ctl00$lbnListView','')"><span>List</span></a>
	</div>
	<div class="center">
		<strong>Show on page</strong>
		<a id="Content_C000_realEstateFrontendList_ctl00_lbnItemPerPage_Nine" class="current" href="javascript:__doPostBack('ctl00$Content$C000$realEstateFrontendList$ctl00$lbnItemPerPage_Nine','')"><span>9 items</span></a>
		<a id="Content_C000_realEstateFrontendList_ctl00_lbnItemPerPage_Eighteen" href="javascript:__doPostBack('ctl00$Content$C000$realEstateFrontendList$ctl00$lbnItemPerPage_Eighteen','')"><span>18 items</span></a>
		<a id="Content_C000_realEstateFrontendList_ctl00_lbnItemPerPage_Twentyseven" href="javascript:__doPostBack('ctl00$Content$C000$realEstateFrontendList$ctl00$lbnItemPerPage_Twentyseven','')"><span>27 items</span></a>
	</div>
</div>

<div class="for-rent">
            <div class="row">
            <a id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_DetailsViewHyperLink1" href="for-sale/2-bedroom-terraced-for-sale"><img id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_Photo" src="/images/pictures/27_2.jpg"></a>
            <div>
                <h2><a id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_DetailsViewHyperLink2" href="for-sale/2-bedroom-terraced-for-sale">2 bedroom Terraced for sale</a></h2>
                <p class="price">49,000</p>

                <ul>
                            <li>Garden</li>
                    <li>Parking</li>
                    
		                </ul>
                    <input id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_FeaturesList_ClientState" name="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_FeaturesList_ClientState" type="hidden" autocomplete="off"><span id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_FeaturesList" style="display:none;"></span>

			    <p>Cosy unfurnished living space. Two bedrooms, living room, dining room, kitchen, walk-in closet, full bathroom, toilet. Set in diplomatic neighborhood with excellent transportation, close to metropolitan station.</p>
			    <a id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl0_DetailsViewHyperLink3" title="2 bedroom Terraced for sale" href="for-sale/2-bedroom-terraced-for-sale">More details and photos</a>
		    </div>
        </div>
    <div class="row">
            <a id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_DetailsViewHyperLink1" href="for-sale/the-wooden-house"><img id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_Photo" src="/images/pictures/24_3.jpg"></a>
            <div>
                <h2><a id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_DetailsViewHyperLink2" href="for-sale/the-wooden-house">The Wooden house</a></h2>
                <p class="price">300,000</p>

                <ul>
                            <li>Fitness</li>
                    <li>Parking</li>
                    <li>Swimming pool</li>
                    
		                </ul>
                    <input id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_FeaturesList_ClientState" name="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_FeaturesList_ClientState" type="hidden" autocomplete="off"><span id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_FeaturesList" style="display:none;"></span>

			    <p>A fine, remodelled and beautifully appointed family home in a lovely, lightly wooded setting on the periphery of the village, that affords great privacy and seclusion. </p>
			    <a id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl1_DetailsViewHyperLink3" title="The Wooden house" href="for-sale/the-wooden-house">More details and photos</a>
		    </div>
        </div>
    <div class="row">
            <a id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl2_DetailsViewHyperLink1" href="for-sale/family-house"><img id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl2_Photo" src="/images/pictures/25_3668AF0709490.jpg"></a>
            <div>
                <h2><a id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl2_DetailsViewHyperLink2" href="for-sale/family-house">Family house</a></h2>
                <p class="price">920,000</p>

                <ul>
                            <li>Parking</li>
                    <li>Swimming pool</li>
                    
		                </ul>
                    <input id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl2_FeaturesList_ClientState" name="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl2_FeaturesList_ClientState" type="hidden" autocomplete="off"><span id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl2_FeaturesList" style="display:none;"></span>

			    <p>Exceptional property, located in a prestigious diplomatic area, with perfect access, 15 minutes drive to downtown. The property has very well maintained large garden and breath-taking view of the mountain.
</p>
			    <a id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ctrl2_DetailsViewHyperLink3" title="Family house" href="for-sale/family-house">More details and photos</a>
		    </div>
        </div>
    
        </div>
    <input id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ClientState" name="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow_ClientState" type="hidden" autocomplete="off"><span id="ctl00_Content_C000_realEstateFrontendList_ctl00_ItemsList_Flow" style="display:none;"></span>



<span></span>
            
        </div>
    </div>
</div>