<div class="sfContentBlock">
    <h2>Events</h2>
</div>
<ul class="sfeventsList sfeventsListTitleCityDate">
    <li class="sfeventListItem">
        <h2 class="sfeventTitle">
            <a href="events/detail/2011/08/08/real-estate-2011">
                Real Estate 2011
            </a>
        </h2>
        <div class="sfeventMetaInfo">
            <strong>Dates:</strong> 01 Mar – 31 Dec, 2011
            <a id="ctl00_Content_C016_eventsFrontendList_ctl00_ctl00_eventsList_ctrl0_itemCommentsLink_ctl00_ctl00_commentsLink" class="sfeventCommentsCount" href="events/detail/2011/08/08/real-estate-2011">
                Go comment!
            </a>
            <div class="sfeventSummary">
                <p>
                    We’ll conduct a series of monthly meetings were our real estate experts will answer questions from all buyers and sellers.
                </p>
            </div>
        </div>
    </li>
    <li class="sfeventListItem">
        <h2 class="sfeventTitle">
            <a href="events/detail/2011/08/08/how-did-the-housing-prices-develop-in-2010-">
                How did the housing prices develop in 2010?
            </a>
        </h2>
        <div class="sfeventMetaInfo">
            <strong>Dates:</strong> 14 – 14 Mar, 2011 
            <a id="ctl00_Content_C016_eventsFrontendList_ctl00_ctl00_eventsList_ctrl1_itemCommentsLink_ctl00_ctl00_commentsLink" class="sfeventCommentsCount" href="events/detail/2011/08/08/how-did-the-housing-prices-develop-in-2010-">
                Go comment!
            </a>
            <div class="sfeventSummary">
                <p>
                    March 14. in central Copenhagen (see address below) will the internationally reputed finance guru Rufus T. Jones share his thoughts with the public.
                </p>
            </div>
        </div>
    </li>
</ul>
<input id="ctl00_Content_C016_eventsFrontendList_ctl00_ctl00_eventsList_ClientState" name="ctl00_Content_C016_eventsFrontendList_ctl00_ctl00_eventsList_ClientState" type="hidden" autocomplete="off" />
<span id="ctl00_Content_C016_eventsFrontendList_ctl00_ctl00_eventsList" style="display:none;"></span>