<div class="sfContentBlock">
    <h2>Latest news</h2>
</div>
<ul class="sfnewsList sfnewsListTitleDateSummary">
    <li class="sfnewsListItem">
        <h2 class="sfnewsTitle">
            <a id="ctl00_Content_C015_newsFrontendList_ctl00_ctl00_NewsList_ctrl0_DetailsViewHyperLink1" href="news/details/2012/01/21/we-expect-increased-sales-in-2011-test3">
                We expect increased sales in 2011
            </a>
        </h2>
        <div class="sfnewsMetaInfo">
            Jan 21, 2012
        </div>
        <div class="sfnewsSummary">
            We expect an increased sale in 2011 of both private homes and business properties. Since the International financial crisis’ bottom peak in 2008 have both amount of properties for sale and the achieved prices now reached a more attractive level.
        </div>
        <a id="ctl00_Content_C015_newsFrontendList_ctl00_ctl00_NewsList_ctrl0_FullStory" class="sfnewsFullStory" href="news/details/2012/01/21/we-expect-increased-sales-in-2011-test3">
            Full story
        </a>
    </li>
    <li class="sfnewsListItem">
        <h2 class="sfnewsTitle">
            <a id="ctl00_Content_C015_newsFrontendList_ctl00_ctl00_NewsList_ctrl1_DetailsViewHyperLink1" href="news/details/2012/01/19/new-website">
                New website
            </a>
        </h2>
        <div class="sfnewsMetaInfo">
            Jan 19, 2012
        </div>
        <div class="sfnewsSummary">
            Welcome to our brand new site with much improved tools for search – no matter if you look for a particular item or just wants to browse posssibilities or prices.
        </div>
        <a id="ctl00_Content_C015_newsFrontendList_ctl00_ctl00_NewsList_ctrl1_FullStory" class="sfnewsFullStory" href="news/details/2012/01/19/new-website">
            Full story
        </a>
    </li>
</ul>
<input id="ctl00_Content_C015_newsFrontendList_ctl00_ctl00_NewsList_ClientState" name="ctl00_Content_C015_newsFrontendList_ctl00_ctl00_NewsList_ClientState" type="hidden" autocomplete="off" />
<span id="ctl00_Content_C015_newsFrontendList_ctl00_ctl00_NewsList" style="display:none;"></span>