<div class="sfContentBlock">
    <h2>Social network</h2>
</div>
<div class="block">
	<div class="block-content">
		<div class="item">
			<iframe id="Content_C017_ctl00_contentIFrame" scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:276px; height:287px;" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsitefinity&amp;width=276&amp;colorscheme=light&amp;connections=8&amp;stream=false&amp;header=false&amp;height=287">
            </iframe>
		</div>
        <a id="Content_C017_ctl00_contentFindUsHyperlink" class="arrow-link" href="http://www.facebook.com/sitefinity" target="_blank">
            Find us on Facebook
        </a>
	</div>
</div>