<div class="sf_cols topstrip">
    <div style="width: 33%;" class="sf_colsOut sf_3cols_1_33">
        <div id="Content_T83798137002_Col00" class="sf_colsIn sf_3cols_1in_33">
            <div class="sfContentBlock">
                <h1>Sitefinity Estate</h1>
                <h4>Properties for rent and sale</h4>
            </div>
        </div>
    </div>
    
    <div style="width: 34%;" class="sf_colsOut sf_3cols_2_34">
        <div id="Content_T83798137002_Col01" class="sf_colsIn sf_3cols_2in_34">
                
        </div>
    </div>
    <div style="width: 33%;" class="sf_colsOut sf_3cols_3_33">
        <div id="Content_T83798137002_Col02" class="sf_colsIn sf_3cols_3in_33">
            
        </div>
    </div>
</div>