{{>fp-carousel}}

<div class="sf_cols content self-clear">
    <div style="width: 100%;" class="sf_colsOut sf_1col_1_100">
        <div id="Content_T83798137001_Col00" class="sf_colsIn sf_1col_1in_100">
            <div class="sf_cols">
                <div class="sf_colsOut sf_3cols_1_33">
                    <div id="Content_C011_Col00" class="sf_colsIn sf_3cols_1in_33">
                        {{>fp-news}}
                    </div>
                </div>
                <div class="sf_colsOut sf_3cols_2_34">
                    <div id="Content_C011_Col01" class="sf_colsIn sf_3cols_2in_34">
                        {{>fp-events}}
                    </div>
                </div>
                <div class="sf_colsOut sf_3cols_3_33">
                    <div id="Content_C011_Col02" class="sf_colsIn sf_3cols_3in_33">
                        {{>fp-social}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>