<div id="Content_T83798137009_Col00" class="sf_colsIn sf_1col_1in_100">






<div class="properties-slides">
            <div class="item" style="display: block;">
		    <img id="ctl00_Content_C000_ctl00_SlidesList_ctrl3_imgSlider" src="/images/25/25.jpg" alt="Family house">
		    <div class="information-area">
			    <div class="information-area-left">
				    <h2>4678 Kembery Drive, Chicago</h2>
				    <div class="price">920,000.00</div>
				    <a id="ctl00_Content_C000_ctl00_SlidesList_ctrl3_hlDetails" href="for-sale/family-house">More details and photos</a>
			    </div>
			    <div class="information-area-right">
                    <ul>
                                <li>Parking</li>
                        <li>Swimming pool</li>
                        
		                    </ul>
                        <input id="ctl00_Content_C000_ctl00_SlidesList_ctrl3_FeaturesList_ClientState" name="ctl00_Content_C000_ctl00_SlidesList_ctrl3_FeaturesList_ClientState" type="hidden" autocomplete="off"><span id="ctl00_Content_C000_ctl00_SlidesList_ctrl3_FeaturesList" style="display:none;"></span>
			    </div>
		    </div><!-- .information-area -->
	    </div><!-- .item -->
    <div class="item" style="display: none;">
		    <img id="ctl00_Content_C000_ctl00_SlidesList_ctrl4_imgSlider" src="/images/24/24_1.jpg" alt="The Wooden house">
		    <div class="information-area">
			    <div class="information-area-left">
				    <h2>384 Bicetown Road, New York</h2>
				    <div class="price">300,000.00</div>
				    <a id="ctl00_Content_C000_ctl00_SlidesList_ctrl4_hlDetails" href="for-sale/the-wooden-house">More details and photos</a>
			    </div>
			    <div class="information-area-right">
                    <ul>
                                <li>Fitness</li>
                        <li>Parking</li>
                        <li>Swimming pool</li>
                        
		                    </ul>
                        <input id="ctl00_Content_C000_ctl00_SlidesList_ctrl4_FeaturesList_ClientState" name="ctl00_Content_C000_ctl00_SlidesList_ctrl4_FeaturesList_ClientState" type="hidden" autocomplete="off"><span id="ctl00_Content_C000_ctl00_SlidesList_ctrl4_FeaturesList" style="display:none;"></span>
			    </div>
		    </div><!-- .information-area -->
	    </div><!-- .item -->
    <div class="item" style="display: none;">
		    <img id="ctl00_Content_C000_ctl00_SlidesList_ctrl5_imgSlider" src="/images/456/property-2.jpg" alt="Flat 456">
		    <div class="information-area">
			    <div class="information-area-left">
				    <h2>4652 Oak Avenue, Schaumburg</h2>
				    <div class="price">1,400.00</div>
				    <a id="ctl00_Content_C000_ctl00_SlidesList_ctrl5_hlDetails" href="for-rent/flat-456">More details and photos</a>
			    </div>
			    <div class="information-area-right">
                    <ul>
                                <li>Fitness</li>
                        <li>Garden</li>
                        <li>Parking</li>
                        <li>Shops</li>
                        
		                    </ul>
                        <input id="ctl00_Content_C000_ctl00_SlidesList_ctrl5_FeaturesList_ClientState" name="ctl00_Content_C000_ctl00_SlidesList_ctrl5_FeaturesList_ClientState" type="hidden" autocomplete="off"><span id="ctl00_Content_C000_ctl00_SlidesList_ctrl5_FeaturesList" style="display:none;"></span>
			    </div>
		    </div><!-- .information-area -->
	    </div><!-- .item -->
    <div class="item" style="display: none;">
		    <img id="ctl00_Content_C000_ctl00_SlidesList_ctrl6_imgSlider" src="/images/123/property-1.jpg" alt="House 123">
		    <div class="information-area">
			    <div class="information-area-left">
				    <h2>2130 Oak Way, Lincoln</h2>
				    <div class="price">1,500.00</div>
				    <a id="ctl00_Content_C000_ctl00_SlidesList_ctrl6_hlDetails" href="for-rent/house-123">More details and photos</a>
			    </div>
			    <div class="information-area-right">
                    <ul>
                                <li>Fitness</li>
                        <li>Garden</li>
                        <li>Parking</li>
                        <li>Shops</li>
                        <li>Swimming pool</li>
                        
		                    </ul>
                        <input id="ctl00_Content_C000_ctl00_SlidesList_ctrl6_FeaturesList_ClientState" name="ctl00_Content_C000_ctl00_SlidesList_ctrl6_FeaturesList_ClientState" type="hidden" autocomplete="off"><span id="ctl00_Content_C000_ctl00_SlidesList_ctrl6_FeaturesList" style="display:none;"></span>
			    </div>
		    </div><!-- .information-area -->
	    </div><!-- .item -->
    
		</div><!-- .properties-slides -->
    <input id="ctl00_Content_C000_ctl00_SlidesList_ClientState" name="ctl00_Content_C000_ctl00_SlidesList_ClientState" type="hidden" autocomplete="off"><span id="ctl00_Content_C000_ctl00_SlidesList" style="display:none;"></span>

<div class="properties-carousel jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;">
            <div class="jcarousel-clip jcarousel-clip-horizontal" style="overflow: hidden; position: relative;"><ul class="jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; margin: -30px 0px 0px; padding: 15px 0px 0px; left: 0px; width: 1412px;">
                <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal current" style="float: left; list-style: none;" jcarouselindex="1"><div class="inner">
		    <a href="#"><img id="ctl00_Content_C000_ctl00_CarouselList_ctrl3_imgThumbnail" src="/images/25/25_2.jpg" alt="Family house"></a>
            <div>
				<h3>4678 Kembery Drive, Chicago</h3>
				<p>920,000.00</p>
				<a id="ctl00_Content_C000_ctl00_CarouselList_ctrl3_hlDetails" href="for-sale/family-house">View details</a>
			</div>
	    </div></li>
    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" style="float: left; list-style: none;" jcarouselindex="2"><div class="inner">
		    <a href="#"><img id="ctl00_Content_C000_ctl00_CarouselList_ctrl4_imgThumbnail" src="/images/24/24_2.jpg" alt="The Wooden house"></a>
            <div>
				<h3>384 Bicetown Road, New York</h3>
				<p>300,000.00</p>
				<a id="ctl00_Content_C000_ctl00_CarouselList_ctrl4_hlDetails" href="for-sale/the-wooden-house">View details</a>
			</div>
	    </div></li>
    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" style="float: left; list-style: none;" jcarouselindex="3"><div class="inner">
		    <a href="#"><img id="ctl00_Content_C000_ctl00_CarouselList_ctrl5_imgThumbnail" src="/images/456/slider-thumb-2.jpg" alt="Flat 456"></a>
            <div>
				<h3>4652 Oak Avenue, Schaumburg</h3>
				<p>1,400.00</p>
				<a id="ctl00_Content_C000_ctl00_CarouselList_ctrl5_hlDetails" href="for-rent/flat-456">View details</a>
			</div>
	    </div></li>
    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" style="float: left; list-style: none;" jcarouselindex="4"><div class="inner">
		    <a href="#"><img id="ctl00_Content_C000_ctl00_CarouselList_ctrl6_imgThumbnail" src="/images/123/slider-thumb-1.jpg" alt="House 123"></a>
            <div>
				<h3>2130 Oak Way, Lincoln</h3>
				<p>1,500.00</p>
				<a id="ctl00_Content_C000_ctl00_CarouselList_ctrl6_hlDetails" href="for-rent/house-123">View details</a>
			</div>
	    </div></li>
    
            </ul></div><div class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal" style="display: block;" disabled="disabled"></div><div class="jcarousel-next jcarousel-next-horizontal" style="display: block;"></div>
		</div><!-- .properties-carousel -->
    <input id="ctl00_Content_C000_ctl00_CarouselList_ClientState" name="ctl00_Content_C000_ctl00_CarouselList_ClientState" type="hidden" autocomplete="off"><span id="ctl00_Content_C000_ctl00_CarouselList" style="display:none;"></span>

<script language="javascript" type="text/javascript" src="/Sitefinity/WebsiteTemplates/StarterKit/JS/jquery.easing.1.3.js"></script>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    	// globals
	var speed = 500,
		speedFast = Math.round(speed/2);
	
	/*---------------------------------------------------------------------------------- CAROUSELS */
	var slides = $('.properties-slides');
	$('.properties-carousel').jcarousel({
		scroll:1,
		duration:speed,
		easing:'easeOutQuart',
		initCallback:function(){
			$('.properties-carousel ul').css({margin:'-30px 0 0',padding:'15px 0 0'})
			.find('li').wrapInner('<div class="inner" />').eq(0).addClass('current');
		}
	});

    slides.children(':visible').hide();
    slides.children(':nth-child(1)').show();

	$('.properties-carousel li a').click(function(e){
		var elem = $(this),
			li = elem.parents('li'),
			index = li.index()+1;
			
		li.addClass('current').siblings().removeClass('current');
		slides.children(':visible').fadeOut(speed);
		slides.children(':nth-child('+index+')').fadeIn(speed);
		e.preventDefault();
	});
	
	$('.more-properties .carousel').jcarousel({
		scroll:1,
		duration:speedFast
	});
	
	var propertyCarousel = $('.property-carousel');
	propertyCarousel.jcarousel({
		scroll:1,
		duration:speedFast,
		initCallback:function(c){
			var carousel = c.container;
			carousel.append('<div class="info"><span class="left" /><span class="right" /></div>');
			
			var info = carousel.find('.info'),
				title = info.find('.left'),
				counter = title.next(),
				prev = carousel.find('.jcarousel-prev'),
				next = prev.next(),
				imgs = carousel.find('img'),
				img = imgs.filter(':first'),
				pattern = /([0-9]+)\/[0-9]+/;
				
			title.text(img[0].alt);
			counter.text('1/'+imgs.length);
			
			var thumbs = carousel.parent().find('.property-carousel-thumbs');
			if(thumbs.length){
				var thumbLinks = thumbs.find('a');
				thumbLinks.click(function(e){
					var elem = $(this),
						href = elem.attr('href'),
						index = thumbLinks.index(this)+1;
					
					img = carousel.find('li:nth-child('+index+') img');
					updateCarouselBottomText(img[0].alt,index);
					elem.addClass('current').parent().siblings().find('a').removeClass('current');
					c.scroll($.jcarousel.intval(index));
					//console.log(index);
					e.preventDefault();
				}).filter(':first').addClass('current');
			}
			
			next.click(function(e){
				img = img.parents('li').next().find('img');
				if(img.length){
					var num = parseInt(counter.text().match(pattern));
					updateCarouselBottomText(img[0].alt,++num);
					if(thumbs.length){
						thumbLinks.eq(num-1).addClass('current').parent().siblings().find('a').removeClass('current');
					}
				} else img = imgs.filter(':last');
			});
			
			prev.click(function(e){
				img = img.parents('li').prev().find('img');
				if(img.length){
					var num = parseInt(counter.text().match(pattern));
					updateCarouselBottomText(img[0].alt,--num);
					if(thumbs.length){
						thumbLinks.eq(num-1).addClass('current').parent().siblings().find('a').removeClass('current');
					}
				} else img = imgs.filter(':first');
			});
			
			function updateCarouselBottomText(text,num){
				title.text(text);
				counter.text(num+'/'+imgs.length);
			}
		}
	});
	
	$('.property-carousel-thumbs').jcarousel({
		scroll:5,
		duration:speedFast,
		initCallback:function(e){
			
		}
	});
});
</script><div class="message">
	<p><strong>We offer help in finding the perfect rental property</strong></p> <p>If you're young and looking for a furnished downtown flat or friends looking for a place to share or a family seeking an unfurnished house, you are at the right place. We have everything you need with many properties to rent across the US from a lot of lettings agents.&nbsp;</p>



</div>
            
        </div>