<div class="RadTabStrip RadTabStrip_navigation RadTabStripTop_navigation">
    <div class="RadTabStrip RadTabStrip_navigation RadTabStripTop_navigation">
		<div class="rtsLevel rtsLevel1">
			<ul class="rtsUL">{{#each nodes}}
                <li class="rtsLI rtsFirst">
                    <a class="rtsLink rtsSelected" href="{{name}}">
                        <span class="rtsOut">
                            <span class="rtsIn">
                                <span class="rtsTxt">
                                    {{title}}
                                </span>
                            </span>
                        </span>
                    </a>
                </li>{{/each}}
            </ul>
		</div>
	</div>
</div>